@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
	padding: 0px;
	margin: 0px;
}

html,body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
}

.image_1 {
	background: url(picture9.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 635px;
	text-align: center;
	position: absolute;
}

.layer_1 {
	background: rgba(0,0,0,0.1);
	width: 100%;
	height: 635px;
	position: absolute;
	text-align: center;
}

.layer {
	width: 100%;
	height: 635px;
	position: absolute;
	text-align: center;
}

.text_1 {
	color: #fff;;
	text-align: center;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 53%;
	left: 50%;
}

.rectangle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-family: 'Quicksand', sans-serif;
	background: transparent;
	border: 1px solid #fff;
	transform: translate(-50%,-50%);
	position: absolute;
	margin-top: -60px;
	left: 50%;
}

.rectangle h2 {
	color: white;
	font-size: 50px;
	font-family: 'Dancing Script', cursive
	font-weight: lighter;
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

.layer span {
	text-align: center;
	width: 80px;
	height: 2px;
	position: absolute;
	margin-left: -40px;
	background: #e3b18c;
}

.text_1 h1 {
	font-size: 60px;
	font-family: 'Lobster', cursive;
	letter-spacing: 4px;
}

.text_1 p {
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
}


.text_1_btn {
	background: white;
	font-family: 'Quicksand', sans-serif;
	color: #3c3838;
	outline: none;
	border: none;
	border: 1px solid #4f2d12;
	width: 130px;
	height: 35px;
}

.text_1_btn:hover {
	background: brown;
	color: black;
	transition: 0.5s ease;
	border: none;
}

.logo4{
	position: relative;
	left: 20px;
	right: 20px;

}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
